.flex-container{
    width: 1000px;
    height: 640px;
    background-color: grey;
    color: #fafafa;

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.flex-container div{
    display: flex;
    flex-direction: row-reverse;
}

.flex-item{
    width: 200px;
    height: 160px;
    background-color: red;
    background: linear-gradient(to bottom, #ff0000 0%, #ffff66 100%);
}

.flex-item:nth-child(1){
    flex-basis: 500px;
    height: 330px;
    background: linear-gradient(to right, #3333cc 0%, #ffcccc 100%);
    order:-2;
}
.flex-item:nth-child(2){
    flex-basis: 1000px;
    background-color: rgb(10, 10, 133);
    background: linear-gradient(to top right, #ff0000 0%, #0099ff 100%)
}

.flex-item:nth-child(3){
    flex-basis: 500px;
    height: 330px;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    order:-1;
    display: flex;
    flex-flow: column wrap;
}

.inner-item{
  height: 50%;
}

.inner-item:nth-child(1){
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}
